
section h1{
    padding-top: 20px;
}

.row{
    margin:30px 0 0px 0;
}

.prof img{
    width:380px;
    height:400px
}
.prof h1 span{
    color:#009432;
    line-height: 39px;
    font-style: italic;
}

p{
    color:#222f3e;
}

.follow h1 span{
    color:#b33939
}

.three-icons{
    margin-top:160px;
}




svg{
    margin-bottom: 30px;
    
}

.img2{
    margin:0 40px 30px 0px;
    padding-left: 0px;
    
}

.last-section{
    background-color: #151823;
    padding: 50px 50px;
    
}



/* media for all screens */


/* start style for small screen  */


@media (max-width:540px){
    img{
        width:200px;
        height:250px
    }
}

/* end style for small screen  */


/* start style for medium screen */

@media(max-width:720px){
    img{
        width:300px;
        height:350px
    }
}

/* end style for medium screen */