<section>
    <h1 class="text-center">About Us</h1>
    <div class="container">
        <div class="row">
                <div class="col col-lg-6 col-md-6 col-sm-6 ">
                    <h4> Summery About Our Website</h4>
                    <p>Hello, thie is sammry aout our website,Hello, thie is sammry aout our website
                        ,Hello, thie is sammry aout our website,Hello, thie is sammry aout our website,Hello, thie is sammry aout our website
                        ,Hello, thie is sammry aout our website
                    </p>
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-6 ">
                    <img  class="img1" src="../../../assets/images/13.jpeg">
                </div>
            </div>

            <!--start row 2-->

            <div class="row">
                <div class="col col-lg-6 col-md-6 col-sm-6">
                    <img  class="img2" src="../../../assets/images/13.jpeg">
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-6">
                    <h4> Summery About Our Website</h4>
                    <p>Hello, thie is sammry aout our website,Hello, thie is sammry aout our website
                        ,Hello, thie is sammry aout our website,Hello, thie is sammry aout our website,Hello, thie is sammry aout our website
                        ,Hello, thie is sammry aout our website
                    </p>
                </div>
            </div>

            <!-- end row 2 -->


            <div class="row">
                <div class="col col-lg-6 col-md-6 col-sm-6">
                    <h4> Summery About Our Website</h4>
                    <p>Hello, thie is sammry aout our website,Hello, thie is sammry aout our website
                        ,Hello, thie is sammry aout our website,Hello, thie is sammry aout our website,Hello, thie is sammry aout our website
                        ,Hello, thie is sammry aout our website,
                        Hello, thie is sammry aout our website
                        ,Hello, thie is sammry aout our website,
                        Hello, thie is sammry aout our website
                        ,Hello, thie is sammry aout our website,
                    </p>
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-6">
                    <img  class="img3" src="../../../assets/images/13.jpeg">
                </div>
            </div>

        </div>
</section>