

<div *ngIf="error">
  <div class="breadcrumbs-area mb-70">
    <div class="container">
      <nz-breadcrumb class="pt-2">
        <nz-breadcrumb-item >
         <a routerLink="/">Home</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          Shop
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
  </div>
  <div class="container">
    <div class="row empty">
      <div class="col-12">
        <nz-result nzStatus="404" nzTitle="404" nzSubTitle="Sorry, the page you visited does not have any data.">
          <div nz-result-extra>
            <button nz-button routerLink="/" nzType="primary">Back Home</button>
          </div>
        </nz-result>
      </div>
    </div>
  </div>
</div>



<div class="shop-main-area mb-70" *ngIf="books">
  <div class="breadcrumbs-area mb-70">
    <div class="container">
      <nz-breadcrumb class="pt-2">
        <nz-breadcrumb-item >
          <a routerLink="/">Home</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          Shop
        </nz-breadcrumb-item>
      </nz-breadcrumb>

    </div>
  </div>
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-12 order-lg-2 order-1">

                <div class="section-title-5 text-center">
                    <h2>My Books</h2>
                </div>
                <div class="toolbar mb-30">
                    <div class="shop-tab">
                        <!-- <div class="tab-3">
                            <ul class="nav">
                                <li><a class="active" href="#th" data-toggle="tab"><i class="fa fa-th-large"></i>Grid</a></li>
                                <li><a href="#list" data-toggle="tab"><i class="fa fa-bars"></i>List</a></li>
                            </ul>
                        </div> -->
                        <div class="list-page">
                            <p>Items {{books.length}}</p>
                        </div>
                    </div>
                    <!-- <div class="field-limiter">
                        <div class="control">
                            <span>Show</span>
                            chosen-start
                            <select data-placeholder="Default Sorting" style="width:50px;" class="chosen-select" tabindex="1">
                                <option value="Sorting">1</option>
                                <option value="popularity">2</option>
                                <option value="rating">3</option>
                                <option value="date">4</option>
                            </select>
                            chosen-end
                        </div>
                    </div> -->
                    <!-- <div class="toolbar-sorter">
                        <span>Sort By</span>
                        <select id="sorter" class="sorter-options" data-role="sorter">
                            <option selected="selected" value="position"> Position </option>
                            <option value="name"> Product Name </option>
                            <option value="price"> Price </option>
                        </select>
                        <a href="#"><i class="fa fa-arrow-up"></i></a>
                    </div> -->
                </div>
                <!-- tab-area-start -->
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="th">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" *ngFor="let book of books">
                                <!-- single-product-start -->
                                <div class="product-wrapper mb-40" >
                                    <div class="product-img">
                                        <a>
                                            <img src="../../../{{book.image}}" alt="book" class="primary">
                                        </a>
                                        <div class="quick-view">
                                            <a class="action-view" routerLink="../product-details/{{book.book_id}}" title="Quick View">
                                                <i  class="fa fa-search-plus"></i>
                                            </a>
                                        </div>
                                        <div class="product-flag">
                                            <ul>
                                                <li><span class="sale">new</span></li>
                                                <li><span class="discount-percentage">-5%</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-details text-center">
                                        <!-- <div class="product-rating">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            </ul>
                                        </div> -->
                                        <h4><a>{{book.title}}</a></h4>
                                        <div class="product-price">
                                            <ul>
                                                <li>{{book.price}}$</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- <div class="product-link">
                                        <div class="product-button">
                                            <a title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        <div class="add-to-link">
                                            <ul>
                                                <li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
                                            </ul>
                                        </div>
                                    </div> -->
                                </div>
                                <!-- single-product-end -->
                            </div>
                </div>
                <!-- tab-area-end -->
                <!-- pagination-area-start -->
                <div class="pagination-area mt-50">
                    <div class="list-page-2">
                        <p>Items {{books.length}}</p>
                    </div>
                    <!-- <div class="page-number">
                        <ul>
                            <li><a href="#" class="active">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#" class="angle"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div> -->
                </div>
                <!-- pagination-area-end -->
            </div>
        </div>
    </div>
</div>



