<!--

<div *ngIf="error">
  <div class="container">
    <div class="row empty">
      <div class="col-12">
        <nz-result nzStatus="404" nzTitle="404" nzSubTitle="Sorry, the page you visited does not have any data.">
          <div nz-result-extra>
            <button nz-button routerLink="/" nzType="primary">Back Home</button>
          </div>
        </nz-result>
      </div>
    </div>
  </div>
</div> -->

<div class="shop-main-area mb-70 pt-70" *ngIf="books">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12 order-lg-2 order-1">

                <div class="section-title-5 text-center">
                    <h2>My Books</h2>
                </div>
                <div class="toolbar mb-30">
                    <div class="shop-tab">
                        <div class="list-page">
                            <p>Items {{books.length}}</p>
                        </div>
                    </div>
                </div>
                <!-- tab-area-start -->
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="th">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" *ngFor="let book of books">
                                <!-- single-product-start -->
                                <div class="product-wrapper mb-40" >
                                    <div class="product-img">
                                        <a>
                                            <img src="{{url}}{{book.image}}" alt="book" class="primary">
                                        </a>
                                        <div class="quick-view">
                                            <a class="action-view"  (click)="open(ccontent);getbookbybookid(book.book_id);getrates(book.book_id)" title="Quick View">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                        </div>
                                        <div class="product-flag">
                                            <ul>
                                                <li><span class="sale">new</span></li>
                                                <li><span class="discount-percentage">-5%</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-details text-center">
                                        <h4><a>{{book.title}}</a></h4>
                                        <div class="product-price">
                                            <ul>
                                                <li>{{book.price}}$</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-end -->
                            </div>
                </div>
                <!-- tab-area-end -->
                <!-- pagination-area-start -->
                <div class="pagination-area mt-50">
                    <div class="list-page-2">
                        <p>Items {{books.length}}</p>
                    </div>
                </div>
                <!-- pagination-area-end -->

            </div>
        </div>
    </div>
</div>



<ng-template #ccontent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Book Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   <div class="container" *ngIf="bookdata">
     <div class="row">
        <div class="col-4 text-center">
          <img src="{{url}}{{bookdata.image}}" alt="woman" draggable="false">
        </div>
        <div class="col-8">
          <h4>{{bookdata.title}}</h4>
          <div class="rating-summary" >
            <span *ngIf="!userId">Add your review </span>
            <span *ngIf="userId">you reviwed</span>
            <ngb-rating [max]="5" (click)="addrate()" [(ngModel)]="currentRate"> </ngb-rating>
          </div>
          <div>
            <span><a>{{rates}} Reviews </a></span>
          </div>
          <div class="paragraph pt-4">
            <p>
              One of the books I love most is <span>{{bookdata.title}}</span>. It's a novel that I had as a prize in my school, and It's author is <span> {{bookdata.auther_name}}</span>.  This novel took me a good amount of time to finish because this book is very thick. It is part of a series.
            </p>
          </div>
          <div class="price">
            <h5>
              Current price:
              <span class="p">${{bookdata.price}}</span>
            </h5>
            <span>{{bookdata.pages}} pages</span>
            <p>

              <span>The Author: {{bookdata.auther_name}}</span>
            </p>
          </div>
        </div>
     </div>
  </div>
  </div>
</ng-template>

