.register {
  
  background-color: #2e3439;
  color: #c2c8ce !important;
}

.register h2,
h5 {
  color: #fff;
  font-family: system-ui;
  font-weight: 100;
}

.register h2 {
  letter-spacing: -2px;
}

.register form {
  margin: 70px auto;
  width: 32%;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .register form {
    margin: 70px auto;
    width: 70%;
  }
}

.register form h5 {
  color: #fff;
}



.register form input {
  background-color: #23272b;
  border-color: #23272b;
  height: 55px;
  /* color: #9b9ea1; */
  color: #42e24f;
  text-align: center;
  letter-spacing: 0ch;
}

.register form input::placeholder {
  text-align: center;
  font-size: 15px;
}

.register form .singin {
  border: 1px solid #42e24f;
  padding: 15px 45px;
  background-color: #42e24f;
  color: #ffff;
  border-radius: 0.3ch;
}

.register form .triuble {
  color: #9b9ea1;
}

.register form p {
  color: #fff;
}

.register form .signup {
  color: #42e24f;
}
