/*----------------------------------------*/
/*  12. Footer
/*----------------------------------------*/

footer {
    background: #222222;
}

/*----------------------------------------*/
/*  12.1  Footer top
/*----------------------------------------*/

.footer-top-menu {
    padding: 15px 0;
    overflow: hidden;
}

.footer-top-menu ul li {
    display: inline-block;
    margin-right: 25px;
    padding-right: 25px;
    position: relative;
}

.footer-top-menu ul li:before {
    background: #808080 none repeat scroll 0 0;
    content: "";
    height: 13px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
}

.footer-top-menu ul li:last-child:before {
    display: none;
}

.footer-top-menu ul li a {
    color: #fff;
    display: block;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    text-decoration: none;
    transition: .3s;
    font-weight: 400;
}

.bb-2 {
    border-bottom: 2px solid #393939;
}

/*----------------------------------------*/
/*  12.2  Footer mid
/*----------------------------------------*/

.single-footer .footer-title h3 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}

.footer-mid-menu ul li a {
    color: #fff;
    display: block;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.5s ease 0s;
    line-height: 30px;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.footer-mid-menu ul li a:hover {
    color: #f07c29;
}

.br-2 {
    border-right: 1px solid #393939;
}

.footer-contact p {
    color: #fff;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.footer-contact p:last-child {
    margin-bottom: 0;
}

.footer-contact p span {
    color: #fff;
}

.footer-contact p.adress span {
    display: block;
    margin-bottom: 6px;
}

/*----------------------------------------*/
/*  12.3  Footer bottom
/*----------------------------------------*/

.bt-2 {
    border-top: 2px solid #393939;
    padding: 30px 0;
}

.copy-right-area p {
    color: #fff;
    margin-bottom: 0;
    margin-top: 8px;
    font-family: 'Rufina', serif;
    font-weight: 400;
}

.copy-right-area p a {
    color: #fff;
}

.copy-right-area p a:hover {
    text-decoration: underline;
}



/* scroll up*/

a#scrollUp {
    background: #333 none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 100%;
    bottom: 35px;
    color: #fff;
    display: none;
    font-size: 20px;
    height: 40px;
    line-height: 32px;
    position: fixed;
    right: 12px;
    text-align: center;
    width: 40px;
    z-index: 9999;
    transition: .3s ;
  }
  
  a#scrollUp:hover {
    background: #f07c29 none repeat scroll 0 0;
    border-color: #f07c29;
  }
