.navbar {
  background-color: #151823;
  position: fixed !important;
  width: 100%;
  z-index: 200;
}

.navbar .brand a {
  color: deeppink;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
  font-size: xx-large;
  font-family: cursive;
  margin-left: 30px;
}

a .o-1 {
  color: #23dbdb;
}

a .o-2 {
  color: #005792;
}
a .dott {
  color: chartreuse;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

nav ul {
  padding-right: 70px;
}
nav ul li {
  padding-right: 20px;
}

.btnToggleUser {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 20px;
  margin-top: 7px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btnToggleUser::after {
  content: "";
  position: absolute;
  width: 200%;
  transform: scaleX(0);
  height: 2px;
  bottom: -12px;
  left: 0px;
  transform-origin: bottom right;
  background-color: #23dbdb;
  transition: 0.25s ease-out;
  color: #23dbdb;
}

.btnToggleUser:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btnToggleUser:hover {
  color: #23dbdb;
}

.btnToggleUser:focus {
  border: 2px solid #23dbdb;
}

.buttons {
  margin-top: 15px;
  background-color: #151823;
  width: 50px;
}

.dpClass .col .buttons a {
  color: #ffffff;
  background-color: #151823;
  font-family: Catamaran;
}

.dpClass .col .buttons a:hover {
  color: #23dbdb;
}

.navbar-toggler {
  background-color: #2c3a47;
}
.fa-sort-desc {
  padding-bottom: 5px;
  color: #cad3c8;
}

.navbar ul li > a {
  background: transparent none repeat scroll 0 0;
  color: #ffffff;
  display: block;
  font-size: 18px;
  font-family: Catamaran;
  font-weight: 500;
  line-height: 29px;
  padding: 13px 20px;
  position: relative;
  text-transform: uppercase;
  transition: 0.5s;
  z-index: 4;
}

.navbar ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0px;
  transform-origin: bottom right;
  background-color: #23dbdb;
  transition: 0.25s ease-out;
  color: #23dbdb;
}

.navbar ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar ul li a:hover {
  color: #23dbdb;
}

.navbar ul li a:focus {
  color: #23dbdb;

  transform: 0.2s;
}

@media (max-width: 990px) {
  .navbar ul li a::after {
    content: "";
    position: absolute;
    width: 40%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0px;
    transform-origin: bottom right;
    background-color: #23dbdb;
    transition: 0.25s ease-out;
    color: #23dbdb;
  }

  .navbar ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .navbar ul li a:hover {
    color: #23dbdb;
  }

  .navbar ul li a:focus {
    color: #23dbdb;

    transform: 0.2s;
  }
}

@media (max-width: 991px) {
  nav ul {
    padding-right: 70px;
    display: contents;
  }
  nav ul li {
    padding-right: 20px;
    float: left;
  }
}
