<header>

    <!-- header-mid-area-start -->
    <div class="header-mid-area ptb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5 col-12">
                    <div class="header-search">
                        <form>
                            <input type="text" name="input" [(ngModel)]="input" placeholder="Search entire store here...">
                            <a (click)="search()"><i class="fa fa-search"></i></a>
                            <div class="results">
                              Results: {{books && books.length}}
                          </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4 col-12">
                    <div class="logo-area text-center logo-xs-mrg">
                        <a routerLink="index"><img [src]="logo" alt="logo"></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="my-cart">
                        <ul>
                            <li><a><i class="fa fa-shopping-cart"></i>My Cart</a>
                                <span>2</span>
                                <div class="mini-cart-sub">
                                    <div class="cart-product">
                                        <div class="single-cart">
                                            <div class="cart-img">
                                                <a><img src="img/product/1.jpeg" alt="book"></a>
                                            </div>
                                            <div class="cart-info">
                                                <h5><a>Joust Duffle Bag</a></h5>
                                                <p>1 x £60.00</p>
                                            </div>
                                            <div class="cart-icon">
                                                <a><i class="fa fa-remove"></i></a>
                                            </div>
                                        </div>
                                        <div class="single-cart">
                                            <div class="cart-img">
                                                <a><img src="img/product/3.jpeg" alt="book"></a>
                                            </div>
                                            <div class="cart-info">
                                                <h5><a>Chaz Kangeroo Hoodie</a></h5>
                                                <p>1 x £52.00</p>
                                            </div>
                                            <div class="cart-icon">
                                                <a><i class="fa fa-remove"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-totals">
                                        <h5>Total <span>£12.00</span></h5>
                                    </div>
                                    <div class="cart-bottom">
                                        <a class="view-cart">view cart</a>
                                        <a>Check out</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-mid-area-end -->
    <!--start --navbar-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container-fluid">

          <button class="navbar-toggler" (click)="toggleNavbar()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse"  [class.show]="isOpen" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="books">Books</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="browse">Browse</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="aboutus">About Us</a>
              </li>
              <li class="nav-item">
                <a type="submit" (click)="logout()" class="nav-link">Logout</a>
              </li>
              <li class="nav-item">
                <a type="submit"  class="nav-link" routerLink="product-details" >Product Details</a>
              </li>

            </ul>
          </div>
        </div>
      </nav>

    <!-- end--end -->
</header>
