<div class="login">
  <div class="container">
    <h2 class="pt-4">Login</h2>
    <div class="row">
      <div class="col-12">
        <form [formGroup]="loginForm">
          <h5 class="text-center mb-70">Log in Your Account</h5>
          <div class="form-group mb-2">
            <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp" placeholder="email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="password">
          </div>
          <div class="text-center mt-50">
            <a type="submit" (click)="login()" class="singin">SIGN IN</a>
            <p class="mt-2 triuble">Having Triuble?</p>
          </div>
          <div class="text-center mt-70">
            <p class="mb-0">Don`t Have an Account?</p>
            <a routerLink="/register" class="signup">Sign Up Here</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

